<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 h-100 bg-secondary bg-opacity-25">
      <br><span routerLink="">Filters</span>
      <br>Filters
      <br>Filters
      <br>Filters
      <br>Filters
      <br>Filters
    </div>
    <div class="col-lg-8 h-100 bg-warning bg-opacity-25">
      <br>Main
      <br>Main
      <br>Main
      <br>Main
      <br>Main
      <br>Main
      <br>Main
      <br>Main
      <br>Main
    </div>
    <div class="col-lg-2 h-100 bg-primary bg-opacity-25">
      <br>Logo
      <br>Logo
      <br>Logo
      <br>Logo
      <br>Logo
      <br>Logo
      <br>Logo
    </div>
  </div>
</div>
