<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 h-100 bg-secondary bg-opacity-25">
      <br><span routerLink="">Filters</span>
      <br>Filters
      <br>Filters
      <br>Filters
      <br>Filters
      <br>Filters
    </div>


    <div class="col-lg-8">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <div class="input-group shadow rounded-5">
        <span class="input-group-text rounded-start-5 bg-white border-end-0" id="addon-loop">
          <i class="bi bi-search fs-5"></i>
        </span>
            <input class="form-control rounded-end-5 border-start-0"
                   placeholder="Short route with ..."
                   type="text"
                   aria-describedby="addon-loop"
                   [(ngModel)]="query"
            >
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-4">
        <div class="offset-lg-1 col-lg-11">
          <div class="col-md-4">
            <div class="input-group shadow rounded-5">
              <span class="input-group-text w-25 rounded-start-5 bg-white border-end-0" id="addon-sort">
                Sort:
              </span>
              <select class="form-select-sm rounded-start-0 rounded-end-5 w-75 text-secondary border-start-0 border-secondary border-opacity-25" aria-describedby="addon-sort">
                <option value="" class="text-dark" selected>Best match</option>
                <option value="" class="text-dark">Difficulty: lowest first</option>
                <option value="" class="text-dark">Difficulty: highest first</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <hr>


    </div>


    <div class="col-lg-2 text-center">
      <div class="mb-4">
        <img alt="Logo" class="img-fluid" src="assets/logo.jpg" style="max-width: 150px;">
      </div>
    </div>
  </div>
</div>

<div *ngIf="searchResults; else noData">
  <h2>Search Results</h2>
  <pre>{{ searchResults | json }}</pre>
</div>
<ng-template #noData>
  <p>No search results to display.</p>
</ng-template>

<div *ngIf="errorMessage">
  <h2>Error</h2>
  <p>{{ errorMessage }}</p>
</div>
