<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 h-100">
      <h4 class="mt-5">Filtry:</h4>
      <h6 class="mt-4">Wycena</h6>
      <div class="input-group shadow rounded-5" style="margin-left: 5px;">
        <select
          class="form-select-sm rounded-start-5 rounded-end-5 w-100 text-secondary border-start-0 border-secondary border-opacity-25"
          aria-describedby="addon-sort">
          <option value="" selected>YDS</option>
          <option value="YDS">YDS</option>
        </select>
      </div>

      <div style="margin-left: 5px;" class="mb-3">
        <span>{{gradeValues[0]}}</span>
        <mat-slider
          [displayWith]="displayWith.bind(this)"
          [min]="0"
          [max]="gradeValues.length - 1"
          step="1"
          thumbLabel
          discrete
          >
          <input matSliderStartThumb [value]="0" (change)="onSliderChange1($event)" style="background-color: darkgray">
          <input matSliderEndThumb [value]="gradeValues.length - 1" (change)="onSliderChange2($event)" style="background-color: darkgray">
        </mat-slider>
        <span>{{gradeValues.at(-1)}}</span>
      </div>

      <h6>Typ trasy</h6>
      <div style="margin-left: 10px;"  class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="selectAll" (change)="toggleAll($event)" checked>
          <label class="form-check-label" for="selectAll">
            Wszystkie typy
          </label>
        </div>
        <div style="margin-left: 15px;">
        <ng-container *ngFor="let type of allTypeNames; let i = index">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{type}}}" id="'type' + {{i}}" [(ngModel)]="selectedTypes[i]" (change)="onCheckboxChange()">
            <label class="form-check-label row justify-content-between" for="'type' + {{i}}">
              <div class="col-auto">
                {{routeTypeMapping[type]}}
              </div>
              <div class="col-auto">
                {{countsForTypesMap?.[type]?.['doc_count'] ?? 0}}
              </div>
            </label>
          </div>
        </ng-container>
        </div>
      </div>


      <h6>Grupy skał</h6>
      <div class="input-group shadow rounded-5" style="margin-left: 10px;">
        <select
          class="form-select-sm rounded-start-5 rounded-end-5 w-100 text-secondary border-start-0 border-secondary border-opacity-25"
          aria-describedby="addon-sort"
          [(ngModel)]="sector"
          (ngModelChange)="updateSearch()">
          <option value="" selected>Wszystkie grupy skał</option>
          <ng-container *ngFor="let parentSector of allParentSectorsForFilters; let i = index">
            <option value="{{parentSector}}">{{parentSector}}</option>
          </ng-container>
        </select>
      </div>
      <div class="mt-3">
        <img alt="Logo" class="img-fluid" src="assets/map_google.png" style="max-width: 100%;">
      </div>
    </div>


    <div class="col-lg-8">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <div class="input-group shadow rounded-5">
        <span class="input-group-text rounded-start-5 bg-white border-end-0" id="addon-loop">
          <i class="bi bi-search fs-5"></i>
        </span>
            <input class="form-control rounded-end-5 border-start-0"
                   placeholder="Short route with ..."
                   type="text"
                   aria-describedby="addon-loop"
                   [(ngModel)]="query"
                   (keydown.enter)="updateSearch()"
            >
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-4">
        <div class="offset-lg-1 col-lg-11">
          <div class="col-md-4">
            <div class="input-group shadow rounded-5">
              <span class="input-group-text w-25 rounded-start-5 bg-white border-end-0" id="addon-sort">
                Sort:
              </span>
              <select
                class="form-select-sm rounded-start-0 rounded-end-5 w-75 text-secondary border-start-0 border-secondary border-opacity-25"
                aria-describedby="addon-sort"
                [(ngModel)]="selectedSort"
                (ngModelChange)="updateSearch()">
                <option value="none" class="text-dark" selected>Best match</option>
                <option value="grade_asc" class="text-dark">Difficulty: lowest first</option>
                <option value="grade_desc" class="text-dark">Difficulty: highest first</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      @for (route of searchResults; track route){
        <app-route-card [route]="route._source" [id]="route._id"></app-route-card>
      }

      @if (isResultEmpty){
        <p>No data for you :[</p>
      }

    </div>


    <div class="col-lg-2 text-center">
      <div class="mb-4">
        <img alt="Logo" class="img-fluid" src="assets/logo.jpg" style="max-width: 150px;">
      </div>
    </div>
  </div>
</div>

<mat-paginator [length]="200" [pageSize]="pageSize" aria-label="Select page" (page)="onPageChange($event)">
</mat-paginator>
