.color-bar {
  width: 20px;
  height: auto;
  background-color: inherit;
}

.color-easiest {background-color: #7FFF00}
.color-easy {background-color: #FFFF00}
.color-medium {background-color: #FFA500}
.color-hard {background-color: #FF4500}
.color-hardest {background-color: #8B0000}

.overflow-3-line {
  position: relative;
  max-height: calc(1.5em * 3);
  overflow: hidden;
  word-break: normal;
}


.d-flex {
  display: flex;
  align-items: stretch;
}
